%section.ten-oh-announcement
  .ten-oh-label
    %span 12.3
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.3 introduces Web Application Firewall, Analytics and many more great new features!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/09/22/gitlab-12-3-released/"}
          See what’s new
